@charset "UTF-8";

body,
html {
    min-height: 101%;
}

body,
button,
input,
select,
td,
textarea,
th {
    font-size: 12px;
    line-height: 1.5;
    font-family: -apple-system-font, PingFang SC, Helvetica Neue, Helvetica, STHeiTi, sans-serif;
    color: #666;
}

blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0;
}

dl,
ul {
    list-style: none;
}

li {
    vertical-align: middle;
}

img {
    border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 14px;
    font-weight: 400;
}

em,
i,
u {
    font-style: normal;
    text-decoration: none;
}

th {
    font-weight: 400;
}

:focus {
    outline: 0;
}

q:after,
q:before {
    content: '';
}

a:link,
a:visited {
    color: #5678a0;
    text-decoration: none;
    text-decoration: none;
    color: #5678a0;
}

a {
    &:hover {
        color: #f14382;
        text-decoration: none;
        color: #ff7e7e;
    }

    &:active {
        background-color: transparent;
    }
}

.lkl a,
a.lkl {
    text-decoration: underline !important;
}

.lkn a,
a.lkn {
    text-decoration: none !important;
}

.bd {
    border: 1px solid red;
}

.bg {
    background: red;
}

.lb {
    li {
        border: 1px solid red;
    }
}

.c {
    clear: both;
    overflow: hidden;
}

.clr {
    zoom: 1;

    &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }
}

.l {
    float: left !important;
    display: inline;
}

.r {
    float: right !important;
    display: inline;
}

.n {
    float: none !important;
}

.h {
    width: 50%;
    overflow: hidden;
}

.t {
    width: 33.333%;
    overflow: hidden;
}

.b {
    font-weight: 700;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.pa {
    position: absolute;
    top: 0;
    left: 0;
}

.pr {
    position: relative;
    top: 0;
    left: 0;
}

.db {
    display: block;
}

.dbi {
    img {
        display: block;
    }
}

.dib {
    float: none !important;
    display: inline-block;
    display: -moz-inline-box;
    -moz-box-align: stretch;
    vertical-align: middle;
}

@media all and (min-width:0px) {
	.dib {
		display: inline-block
	}
}


    .vh {
        visibility: hidden;
    }


.dn {
    display: none !important;
}

.oh {
    overflow: hidden;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.bn {
    border: none !important;
}

.l15 {
    line-height: 1.5;
}

.l18 {
    line-height: 1.8;
}

.l20 {
    line-height: 2;
}

.l22 {
    line-height: 2.2;
}

.l24 {
    line-height: 2.4;
}

.l26 {
    line-height: 2.6;
}

.nw {
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
}

.bw {
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.ma {
    margin-left: auto !important;
    margin-right: auto !important;
}

.h0,
.h18 {
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}

.h0 {
    height: 0 !important;
    visibility: hidden;
}

.h18 {
    height: 18px;
}

.m0 {
    margin: 0 !important;
}

.mt8 {
    margin-top: 8px;
}

.ml8 {
    margin-left: 8px;
}

.mr8 {
    margin-right: 8px;
}

.mb8 {
    margin-bottom: 8px;
}

.pb8 {
    padding-bottom: 8px;
}

.ml0 {
    margin-left: 0 !important;
}

.mr0 {
    margin-right: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.pr0 {
    padding-right: 0 !important;
}

.vm,
.vm .vma .vmb {
    height: 100px;
}

.vm {
    position: relative;

    .vma {
        display: table;
        border: none !important;

        .vmb {
            width: 100%;
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.vma {
    img {
        display: block;
    }
}

.ct {
    .vma {
        margin: 0 auto;

        .vmb {
            margin: 0 auto;
        }
    }
}

.vab {
    vertical-align: bottom;
}

.pl a,
a.pl {
    float: left;
    text-align: left;
    line-height: 1.5;
}

.pl {
    img {
        margin: 0;
    }
}

.pl a img,
a.pl img {
    display: block;
    cursor: pointer;
    margin-bottom: 4px;
}

div {
    &.pl {
        zoom: 1;

        &:after {
            content: "\0020";
            display: block;
            height: 0;
            clear: both;
        }
    }
}

ul {
    &.ll {
        li {
            float: left;
        }
    }
}

.sw {
    height: 24px;
    line-height: 24px;
    overflow: hidden;

    li {
        float: left;
        text-align: center;
        cursor: pointer;

        a {
            float: left;
            height: 100%;
        }
    }
}

.da {
    a {
        display: inline-block;
        display: -moz-inline-box;
        -moz-box-align: stretch;
        padding: 0 6px;
        font-family: '\5B8B\4F53';
    }
}

.pp,
ul.pp li {
    overflow: hidden;
    zoom: 1;
}

.pp {
    img {
        margin-left: 0;
    }
}

.tb {
    display: table;
}

.tbc {
    display: table-cell;
    float: none;
    vertical-align: top;
}

.border {
    height: 1px;
    border: none;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .12), rgba(0, 0, 0, .12) 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: bottom;
}

.layer {
    zoom: 1;
    width: 100%;
    margin: 0 auto;

    &:after {
        content: "\0020";
        display: block;
        height: 0;
        clear: both;
    }
}

.tube {
    float: left;
    line-height: 0;
    margin-right: 8px;
}

.block {
    zoom: 1;
    width: 100%;
    line-height: 1.5;
    margin-bottom: 32px;

    &:after {
        content: "\0020";
        display: block;
        height: 0;
        clear: both;
        overflow: hidden;
    }
}

html {
    background-color: #fbfbfb;
    background-color: #fbfbfb;
}

body {
    background-color: #fff;
    background-color: #fff;

    &>* {
        display: none;
    }
}

#content {
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
    min-height: 600px;
    margin: 0 auto;
    padding-bottom: 24px;
    width: 960px;
    margin: 0 auto;
    background-color: #fff;
}

body>article,
body>div,
body>footer,
body>header {
    display: block;
}

::-moz-selection {
    color: #fff;
    color: rgba(255, 255, 255, .85);
    background: #cee3f2;
}

::selection {
    color: #fff;
    color: rgba(255, 255, 255, .85);
    background: #cee3f2;
}

.box strong,
.ctr-sw strong,
.red {
    color: #ff7e7e;
}

.gray {
    color: #bbb;
}

.blue {
    color: #137ad1;
}

.black {
    color: #000;
}

.skyblue {
    color: #2380cc;
}

.bluelk a:link,
.bluelk a:visited,
a.bluelk:link,
a.bluelk:visited {
    color: #137ad1;
}

.bluelk a:hover,
a.bluelk:hover {
    text-decoration: underline;
    color: #137ad1;
}

.graylk a:link,
.graylk a:visited,
a.graylk:link,
a.graylk:visited {
    color: #bbb;
}

.graylk a:hover,
a.graylk:hover {
    text-decoration: underline;
    color: #ff7e7e;
}

.dgraylk a:link,
.dgraylk a:visited,
a.dgraylk:link,
a.dgraylk:visited {
    color: #666;
}

.dgraylk a:hover,
a.dgraylk:hover {
    text-decoration: underline;
    color: #f14382;
}

.blacklk a:link,
.blacklk a:visited,
a.blacklk:link,
a.blacklk:visited {
    color: #000;
}

.blacklk a:hover,
a.blacklk:hover {
    text-decoration: underline;
    color: #f14382;
}

.redlk a:link,
.redlk a:visited,
a.redlk:link,
a.redlk:visited {
    color: #f14382;
}

.redlk a:hover,
a.redlk:hover {
    text-decoration: underline;
    color: #f14382;
}

.whitelk a:link,
.whitelk a:visited,
a.whitelk:link,
a.whitelk:visited {
    color: #fff;
}

.whitelk a:hover,
a.whitelk:hover {
    text-decoration: underline;
    color: #fff;
}

.btn-white,
.btn-white:link,
.btn-white:visited {
    background-color: #fff;
}

.btn-white {
    &:hover {
        background-color: #f0f0f0;
    }
}

.btn-gray,
.btn-gray:link,
.btn-gray:visited {
    background-color: #bbb;
}

.btn-gray {
    &:hover {
        background-color: #a4a4a4;
    }
}

.btn-red,
.btn-red:link,
.btn-red:visited {
    background-color: #f46;
}

.btn-red {
    &:hover {
        background-color: #e03c5a;
    }
}

.btn-blue,
.btn-blue:link,
.btn-blue:visited {
    background-color: #22b4f6;
}

.btn-blue {
    &:hover {
        background-color: #1e9ed8;
    }
}

.btn-green,
.btn-green:link,
.btn-green:visited {
    background-color: #4cd964;
}

.btn-green {
    &:hover {
        background-color: #43bf58;
    }
}

.h5vh {
    visibility: hidden;
}

.h5dn {
    display: none;
}