@charset "UTF-8";
/* 全局 */
* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body,
html {
    width: 100%;
    height: 100%;
}

ul,
ol,
li {
    list-style: none;
}

.fix {
    width: 147px;
    height: 50px;
    text-align: center;
    background-color: #ff7e7e;
    border-radius: 16px;
    /* text-indent: 0px; */
    position: fixed;
    left: 18px;
    bottom: 100px;
    cursor: pointer;
    a {
        letter-spacing: 1px;
        color: white;
        line-height: 50px;
        text-decoration: none;
        font-size: 14px;
        position: relative;
    }

    span {
        position: absolute;
        top: 15px;
        left: 135px;
        color: white;
    }
}

/* 头部 */
.header {
    width: 1050px;
    height: 81px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: white;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    &>p {
        width: 200%;
        height: 2px;
        position: absolute;
        top: 81px;
        left: -450px;
        background-image: url(../images/head_bcg.jpg);
    }

    &>.logo {
        padding-right: 30px;
    }

    &>.sort {
        p {
            width: 95px;
            height: 40px;
            font-size: 18px;
            line-height: 40px;
            color: #666666;
            border: 1px solid #acacac;
            text-indent: 18px;
            border-radius: 18px;
            margin-right: 65px;
            cursor: pointer;
            position: relative;
        }

        &>.act {
            background-color: #fff5f5;
            border: 1px solid #ff7f7f;
            color: #ff7f7f;
        }

        ul {
            width: 300px;
            padding: 8px;
            padding-left: 15px;
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            left: 60px;
            top: 62px;
            z-index: 99999;
            background-color: white;
            transition: 0.2s;
            opacity: 0;

            li {
                width: 65px;
                height: 25px;
                cursor: pointer;
                margin: 3px;
                font-size: 14px;
                border-radius: 10px;
                text-align: center;
                line-height: 25px;
                color: #444;

                &:nth-child(1) {
                    margin-right: 5px;
                }

                &:hover {
                    background-color: whitesmoke;
                }
            }

            img {
                width: 140px;
                height: 46px;
                margin: 5px;
            }
        }
    }

    &>.search {
        position: relative;
        width: 240px;
        height: 30px;
        margin-right: 92px;

        div {
            width: 300px;
            padding: 5px;
            background-color: white;
            border: 1px solid #aaa;
            position: absolute;
            top: 57px;
            left: 0px;
            z-index: 99;
            display: none;

            p {
                height: 33px;
                line-height: 33px;
                color: #444444;
                margin-bottom: 5px;
                border-radius: 8px;
                text-indent: 10px;

                &:hover {
                    background-color: whitesmoke;
                }

                span {
                    color: #ff7e7e;
                }
            }
        }

        &>input {
            padding: 0 4px 0 10px;
            width: 220px;
            height: 30px;
            line-height: 30px;
            border: 0 none;
            border-radius: 20px;
            position: absolute;
            left: 0;
            top: 0px;
            outline: none;
            border: 1px solid #ff7e7e;
        }

        &>button {
            width: 42px;
            height: 32px;
            background-color: #ff7e7e;
            border-radius: 20px;
            border: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            position: absolute;
            top: 0;
            right: -43px;
            outline: none;
            cursor: pointer;

            &>img {
                position: absolute;
                left: 6px;
                top: 3px;
            }
        }
    }

    &>.publish {
        width: 88px;
        height: 32px;
        background-color: #ff7e7e;
        color: white;
        padding-left: 17px;
        font-size: 20px;
        line-height: 32px;
        border-radius: 44px;
        cursor: pointer;
    }

    &>.faily {
        font-size: 20px;
        color: #777;
        width: 150px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        margin-left: 25px;
        margin-right: 20px;
        cursor: pointer;

        a {
            color: #777;
            text-decoration: none;
        }

        &:hover {
            background-color: whitesmoke;
            border-radius: 10px;
        }
    }

    &>.news {
        font-size: 20px;
        color: #777;
        width: 65px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
        margin-right: 45px;

        &:hover {
            background-color: whitesmoke;
            border-radius: 10px;
        }
    }

    &>.person {
        width: 140px;
        height: 45px;
        display: flex;
        align-items: center;
        font-size: 20px;
        color: #777;
        cursor: pointer;
        img{
            display: block;
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }

        a {
            color: #777;
            text-decoration: none;
        }
    }
}

/* adver */
.adver {
    width: 1050px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 36px;
    box-sizing: border-box;

    img {
        width: 100%;
    }
}

.banner {
    width: 1050px;
    height: 350px;
    margin: 0 auto;
    display: flex;

    .ban-left {
        width: 744px;
        height: 350px;
        position: relative;
        overflow: hidden;

        .imgBox {
            width: 500%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;

            li {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;
            }
        }

        .pointBox {
            width: 50px;
            height: 30px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            border-radius: 13px;
            position: absolute;
            left: 50%;
            bottom: 5px;
            transform: translateX(-50%);

            li {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: rgba(0, 0, 0, 0.3);
                border: 2px solid white;
                cursor: pointer;
            }

            .active {
                background-color: #ff7e7e;
                border: 2px solid #ff7e7e;
            }
        }

        .leftRight {
            height: 70px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            p {
                width: 60px;
                height: 80px;
                font-size: 25px;
                color: white;
                background-color: rgba(0, 0, 0, 0.6);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }

            .left {
                border-bottom-right-radius: 10px;
                border-top-right-radius: 10px;
            }

            .right {
                border-bottom-left-radius: 10px;
                border-top-left-radius: 10px;
            }
        }
    }

    .ban-right {
        width: 350px;
        height: 348px;
        padding-left: 20px;
        border: 1px solid #e0e0e0;
        border-left: none;

        h2 {
            height: 32px;
            line-height: 32px;
            padding: 10px 0;
            font-size: 16px;
            font-weight: 600px;
            color: #444;
            border-bottom: 1px solid #e0e0e0;
        }

        .top {
            padding-top: 16px;
            border-bottom: 1px dashed #e0e0e0;

            a {
                display: inline-block;
                padding: 4px 12px;
                margin-bottom: 16px;
                margin-right: 15px;
                border: 1px solid #cdcdcd;
                border-radius: 28px;
                cursor: pointer;
                text-decoration: none;
                color: #777;

                &:hover {
                    background-color: #fff5f5;
                    color: #ff7e7e;
                    border: 1px solid #ff7e7e;
                }
            }
        }

        .center {
            border-bottom: 1px dashed #e0e0e0;
            padding: 14px 0;

            a {
                &:first-child {
                    display: inline-block;
                    padding: 4px 12px;
                    border-radius: 28px 0 0 28px;
                    color: #fff;
                    text-decoration: none;
                    background-color: #ff7e7e;
                    border: 1px solid #ff7e7e;
                    font-size: 14px;
                }

                &:last-child {
                    display: inline-block;
                    padding: 4px 12px;
                    border-radius: 0 28px 28px 0;
                    color: #777777;
                    text-decoration: none;
                    font-size: 14px;
                    border: 1px solid #e0e0e0;
                    margin-left: -8px;
                }
            }
        }

        .bottom {
            padding-top: 16px;
            display: flex;

            img {
                width: 62px;
                height: 71px;
                margin-right: 4px;
            }

            div {
                h3 {
                    font-size: 14px;
                    color: #444;
                    font-weight: 400;
                    margin-bottom: 3px;
                }

                p {
                    font-size: 12px;
                    margin-bottom: 6px;
                    color: #777;
                }

                a {
                    width: 84px;
                    height: 28px;
                    background-color: #ff7e7e;
                    border-radius: 28px;
                    color: white;
                    line-height: 28px;
                    display: block;
                    text-align: center;
                    font-size: 14px;
                    text-decoration: none;
                }
            }
        }
    }
}

.banner .ban-left ul,
.banner .ban-left li,
.banner .ban-left ol {
    list-style: none;
}

.content {
    width: 1050px;
    height: auto;
    margin: 25px auto;
    display: flex;

    .con-left {
        width: 744px;
        height: auto;
        display: flex;

        ul {
            width: 110px;

            li {
                height: 57px;
                line-height: 57px;
                text-align: center;
                font-size: 16px;
                color: #666666;
                cursor: pointer;
            }

            .active {
                color: #ff7e7e;
                background: url(../images/tab-back.jpg) no-repeat;
                background-color: #faeded;
                background-position: 9px 17px;
            }
        }

        ol {
            width: 588px;
            margin-bottom: 20px;

            .day {
                border: 1px solid #e0e0e0;

                .total {
                    display: flex;
                    padding: 27px 0 0 27px;

                    &>div {
                        width: 50px;
                        height: 50px;
                        margin-right: 10px;
                        border-radius: 50%;
                        overflow: hidden;
                    }

                    img {
                        width: 50px;
                        height: 50px;
                    }

                    p {
                        font-size: 18px;
                        color: #444;
                        line-height: 25px;

                        span {
                            font-size: 16px;
                            color: #aaa;
                            line-height: 22px;
                        }
                    }
                }

                .intro {
                    font-size: 16px;
                    line-height: 24px;
                    color: #444;
                    margin: 16px 0 10px 0;
                    padding: 0 27px;
                }

                .info-img {
                    display: flex;
                    width: 372px;
                    flex-wrap: wrap;
                    padding: 0 27px;

                    img {
                        width: 114px;
                        height: 114px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        border-radius: 10px;
                    }
                }

                .info-bot {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 80px;
                    border-top: 1px solid #e0e0e0;

                    p {
                        width: 196px;
                        height: 40px;
                        padding: 10px 0;
                        font-size: 18px;
                        text-align: center;
                        text-indent: 16px;
                        color: #666;
                        line-height: 46px;
                        border-right: 1px solid #e0e0e0;
                        cursor: pointer;
                        &:hover{color:pink;}

                        &:nth-child(1) {
                            background: url(../images/info1.jpg) no-repeat;
                            background-position: 62px 18px;
                        }

                        &:nth-child(2) {
                            background: url(../images/info2.jpg) no-repeat;
                            background-position: 55px 19px;
                        }

                        &:nth-child(3),.active {
                            background: url(../images/info3.jpg) no-repeat;
                            background-position: 54px 28px;
                        }
                    }
                    
                }
            }
            .info-bot-container{
                position: relative;
                .more-action-list {
                    -webkit-box-shadow: 0 2px 3px 0 rgb(214 214 214 / 50%);
                    box-shadow: 0 2px 3px 0 rgb(214 214 214 / 50%);
                    // height: 0; 
                    position: absolute;
                    top: 92px;
                    right: -1px;
                    width: 198px;
                    background-color: #fff;
                    display: none; 
                    border: 1px solid #e0e0e0;
                    z-index: 11000;
                    // overflow: hidden;
                    &.show {
                        overflow: visible;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: -22px;
                        left: 83px;
                        border-top: 10px solid transparent;
                        border-bottom: 12px solid #e0e0e0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        display: block;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: -21px;
                        left: 83px;
                        border-top: 10px solid transparent;
                        border-bottom: 13px solid #fff;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        z-index: 1;
                        display: none;
                    }

                    ul {
                        width: 175px;
                        .master {
                            display: none;
                        }

                        li {
                            clear:both;
                            display: -webkit-box;
                            display: -webkit-flex;
                            display: -moz-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-pack: start;
                            -webkit-justify-content: flex-start;
                            -moz-box-pack: start;
                            -ms-flex-pack: start;
                            justify-content: flex-start;
                            -webkit-box-align: center;
                            -webkit-align-items: center;
                            -moz-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            margin-left: 20px;
                            height: 46px;
                            border-bottom: 1px solid #e0e0e0;
                            cursor: pointer;

                            i {
                                display: inline-block;
                                margin-right: 8px;
                                width: 24px;
                                height: 24px;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }

                            a {
                                line-height: 24px;
                                text-decoration: none;
                                -webkit-box-pack: start;
                                -webkit-justify-content: flex-start;
                                -moz-box-pack: start;
                                -ms-flex-pack: start;
                                justify-content: flex-start;
                                display: -webkit-box;
                                display: -webkit-flex;
                                display: -moz-box;
                                display: -ms-flexbox;
                                display: flex;
                            }

                            p {
                                white-space: nowrap;
                                color: #777;
                                font-size: 14px;
                            }

                            &:last-child {
                                border: none;
                            }

                            &.share-weibo {
                                i {
                                    background-image: url(../images/20180420182257_c4FZu.png);
                                }
                            }

                            &.share-qq {
                                i {
                                    background-image: url(../images/20180420182257_mHrNM.png);
                                }
                            }

                            &.edit {
                                i {
                                    background-image: url(../images/20180423102648_svZi2.png);
                                }
                            }

                            &.delete {
                                i {
                                    background-image: url(../images/20180423102648_e5dKj.png);
                                }
                            }

                            &.not-interested {
                                i {
                                    background-image: url(../images/20180420182257_VmndA.png);
                                }
                            }

                            &.report {
                                i {
                                    background-image: url(../images/20180420182257_adCkc.png);
                                }
                            }
                        }
                    }
                }
                .more-action-list1::before{
                    color: pink;
                    display: none;
                }
                .more-action-list1::after{
                    color: pink;
                    display: block;
                }
        
        }

            .concern {
                width: 588px;
                height: 142px;
                text-align: center;
                line-height: 142px;
                color: #aaa;
                border: 1px solid #e0e0e0;
            }
        }
    }

    .con-right {
        width: 320px;
        height: 450px;
        border: 1px solid #e0e0e0;

        .con-rt1 {
            padding: 18px;
            position: relative;
            border-bottom: 1px solid #e0e0e0;

            h4 {
                font-size: 18px;
                color: #444;
                font-weight: 600;
            }

            span {
                position: absolute;
                top: 23px;
                right: 18px;
                font-size: 14px;
                color: #ff7e7e;
                cursor: pointer;
            }
        }

        .con-rt2 {
            margin-bottom: 5px;
            border-bottom: 1px solid #e0e0e0;

            div {
                height: 80px;
                display: flex;
                margin: 5px 20px 0px;
                position: relative;

                img {
                    height: 60px;
                    border-radius: 50%;
                }

                h3 {
                    font-size: 16px;
                    color: #444;
                    font-weight: 600;
                    margin-top: 10px;

                    p {
                        color: #777777;

                        span {
                            font-weight: 600;
                        }
                    }
                }

                a {
                    display: block;
                    width: 52px;
                    height: 24px;
                    color: white;
                    background-color: #ff7e7e;
                    text-decoration: none;
                    text-align: center;
                    line-height: 24px;
                    position: absolute;
                    top: 15px;
                    right: 10px;
                }
            }
        }

        .con-rt3 {
            height: 50px;
            color: #ff7e7e;
            text-align: center;
            line-height: 50px;
        }
    }
}

footer {
    width: 100%;
    height: 280px;
    padding: 24px 50px 0;
    background-color: #555555;
    box-sizing: border-box;
    color: #c6c6c6;

    .main {
        width: 1000px;
        height: 256px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}

/* 内容区 */
.main {
    .outer {
        display: flex;
    }

    .QR {
        width: 235px;
        height: 170px;
        padding: 0 107px 0 37px;
        box-sizing: border-box;
    }

    .inter {
        width: 100%;
        margin: 10px 0;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #ccc;
    }
}

.QR {
    div {
        width: 179px;
        height: 165px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h5 {
            width: 70px;
            height: 19px;
            font-size: 14px;
            color: #fff;
            font-weight: 600;
        }

        span {
            display: block;
            border: 2px solid #fff;
        }

        img {
            width: 84px;
            height: 84px;
        }

        .p1 {
            width: 70px;
            height: 20px;
            font-size: 14px;
            color: #fff;
            line-height: 20px;
        }

        .p2 {
            width: 126px;
            height: 20px;
            font-size: 14px;
            color: #fff;
            line-height: 20px;
        }
    }
}

.outer {
    .one {
        width: 230px;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        p {
            width: 64px;
            height: 24px;
            margin-bottom: 16px;
            color: #fff;
            font-size: 16px;
        }

        ul {
            width: 100;
            height: 132px;
            display: flex;
            flex-direction: column;

            li {
                width: 100px;
                height: 21px;
                margin-bottom: 12px;
                font-size: 14px;
                color: #c6c6c6;
                opacity: 0.8;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .two {
        width: 230px;
        height: 170px;
        padding: 0 70px;
        box-sizing: border-box;
        text-align: center;

        p {
            color: #fff;
            margin-bottom: 16px;
            font-weight: 500;
            font-size: 14px;
        }

        li {
            margin-bottom: 12px;
            font-size: 15px;
            color: #c6c6c6;
            opacity: 0.8;
        }
    }

    .three {
        width: 270px;
        height: 170px;
        padding-left: 70px;
        box-sizing: border-box;

        p {
            width: 100%;
            height: 19px;
            color: #fff;
            margin-bottom: 16px;
            font-size: 14px;
        }

        li {
            width: 100px;
            height: 21px;
            margin-bottom: 12px;
            font-size: 14px;
            color: #c6c6c6;
            opacity: 0.8;
        }
    }
}

.inter a,
.inter span a {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    color: #ccc;
}

.inter {
    .div-one {
        width: 100%;
        height: 13px;
        line-height: 13px;
        margin-bottom: 5px;
        margin-bottom: 10px;

        .a1 {
            background: url(../images/footer1.png) no-repeat;
            background-size: contain;
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            border-right: none;
            padding: 0;
        }

        .a2 {
            display: inline-block;
            width: 25px;
            height: 25px;
            background: url(../images/footer2.png) no-repeat;
            background-size: contain;
            vertical-align: middle;
            border-right: none;
            padding: 0;
        }
    }

    .div-two {
        line-height: 13px;
        text-align: center;
    }
}

.inter .div-one a,
.div-one span {
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.div-two {
    span {
        color: #ccc;
        margin-right: 8px;
        padding-left: 8px;
        white-space: nowrap;
        border-left: 1px solid #ccc;

        &:nth-child(1) {
            border-left: none;
        }
    }
}