@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
ol li {
    list-style: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Helvetica, "微软雅黑";
}

body {
    &>div {
        height: 100%;
        position: relative;
        overflow: hidden;
    }
}

.bigBox {
    width: 100%;
    height: 400%;
    position: absolute;
}

.lifeOne {
    width: 100%;
    height: 100%;
    background-image: url(../images/life1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.head {
    height: 64px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>p {
        &:nth-child(1) {
            padding-left: 180px;
        }

        &:nth-child(2) {
            padding-right: 180px;
            display: flex;
        }

        &>a {
            width: 52px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            font-size: 12px;
            color: #878787;
        }

        &>span {
            color: #666;
            line-height: 1.5;
            height: 24px;
            background-color: #ebebeb;
            width: 1px;
            float: left;
            font-size: 16px;
        }
    }

    &>.hh {
        &>a {
            &:nth-child(1) {
                color: white;
                background-color: #ff4466;
                border: 1px solid #ff4466;
                margin-right: 8px;
            }
            
        }
        .login{
            width: 140px;
            height: 45px;
            display: flex;
            align-items: center;
            font-size: 20px;
            color: #777;
            cursor: pointer;
                img{
                    border-radius:50%;
                    width: 40px;
                    height: 40px;
                }
                a{
                    color: #777;
                    text-decoration: none;
                }

            }
    }
}

/* .head > .home > #a{
    color: transparent !important;
    background-color: transparent !important;
  } */
.banner {
    margin: 50px auto 0;
    width: 720px;
    height: 322px;
    top: 250px;

    &>p {
        &:nth-child(1) {
            width: 100%;
            height: 50px;

            &>img {
                padding-left: 230px;
            }
        }

        &:nth-child(2) {
            font-size: 45px;
            margin-bottom: 20px;
        }

        &:nth-child(3) {
            text-align: center;
            font-size: 24px;
            color: #777777;
            margin-bottom: 12px;
        }

        &:nth-child(4) {
            width: 220px;
            height: 60px;
            background-color: #ff7d7c;
            text-align: center;
            margin-left: 250px;
            border-radius: 30px;

            &>a {
                color: white;
                font-size: 20px;
                line-height: 60px;
            }
        }
    }
}

.lifeTwo {
    width: 100%;
    height: 100%;
    background-color: #fffdf8;
    overflow: hidden;

    &>ul {
        width: 1156px;
        height: 532px;
        /* background-color: green; */
        margin: 0 auto;
        padding-top: 100px;
        display: flex;

        &>li {
            &:nth-child(1) {
                width: 700px;
                height: 480px;

                /* background-color:pink; */
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &:nth-child(2) {
                width: 356px;
                height: 256px;
                /* background: orange; */
                margin-top: 40px;
                margin-left: 50px;

                &>h3 {
                    height: 94px;
                    /* background-color: rebeccapurple; */
                    line-height: 94px;
                    font-size: 24px;
                    font-weight: normal;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.line {
    width: 42px;
    height: 2px;
    background: #000;
}

.test {
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    line-height: 2;
    color: #000;
}

.lifeThr {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #fffdf8;

    &>ul {
        width: 864px;
        height: 100%;
        margin: 0 auto;
        padding-top: 80px;
        overflow: hidden;

        li {
            float: left;
        }

        &>li {
            &:nth-child(1) {
                width: 410px;
                height: 460px;

                &>img {
                    width: 100%;
                    height: 100%;
                }
            }

            &:nth-child(2) {
                width: 350px;
                margin-top: 110px;
                float: right;

                &>h3 {
                    line-height: 74px;
                    font-weight: normal;
                    /* background-color: rebeccapurple; */
                    font-size: 24px;
                }
            }
        }
    }
}

.lifeFour {
    width: 100%;
    height: 100%;
    background-image: url(../images/life7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.bottom {
    width: 1048px;
    height: 292px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);

    &>h1 {
        text-align: center;
        margin-bottom: 40px;
        font-size: 45px;
        font-weight: 400;
        color: #000;
    }

    &>p {
        &:nth-child(2) {
            font-size: 26px;
            font-weight: 300;
            color: #777;
            padding-bottom: 50px;
            text-align: center;
            margin-bottom: 30px;
        }

        &:nth-child(3) {
            width: 220px;
            height: 60px;
            background-color: #ff7d7c;
            text-align: center;
            margin-left: 400px;
            border-radius: 30px;

            &>a {
                color: white;
                font-size: 20px;
                line-height: 60px;
            }
        }
    }
}

.rightBox {
    position: fixed;
    height: 130px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    right: 50px;
    display: flex;
}

.pointBox {
    width: 12px;
    height: 68px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &>li {
        width: 5px;
        height: 5px;
        background-color: #666;
        border-radius: 50%;
        cursor: pointer;
        margin-bottom: 5px;

        &.active {
            height: 12px;
            width: 12px;
            background-color: pink;
        }
    }
}

.return {
    width: 26px;
    height: 26px;
    margin-top: 30px;
    cursor: pointer;

    &>img {
        width: 100%;
        height: 100%;
    }
}