@charset "UTF-8";

/* 全局 */
* {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "微软雅黑";
}

ul,
ol,
li {
    list-style: none;
}

/* 头部 */
.header {
    width: 1050px;
    height: 81px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: white;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;

    &>p {
        width: 200%;
        height: 2px;
        position: absolute;
        top: 81px;
        left: -450px;
        background-image: url(../images/head_bcg.jpg);
    }

    &>.logo {
        padding-right: 30px;
    }

    &>.sort {
        p {
            width: 95px;
            height: 40px;
            font-size: 18px;
            line-height: 40px;
            color: #666666;
            border: 1px solid #acacac;
            text-indent: 18px;
            border-radius: 18px;
            margin-right: 65px;
            cursor: pointer;
            position: relative;
        }

        &>.act {
            background-color: #fff5f5;
            border: 1px solid #ff7f7f;
            color: #ff7f7f;
        }

        ul {
            width: 300px;
            padding: 8px;
            padding-left: 15px;
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            left: 60px;
            top: 62px;
            z-index: 99999;
            background-color: white;
            transition: 0.2s;
            opacity: 0;

            li {
                width: 65px;
                height: 25px;
                cursor: pointer;
                margin: 3px;
                font-size: 14px;
                border-radius: 10px;
                text-align: center;
                line-height: 25px;
                color: #444;

                &:nth-child(1) {
                    margin-right: 5px;
                }

                &:hover {
                    background-color: whitesmoke;
                }
            }

            img {
                width: 140px;
                height: 46px;
                margin: 5px;
            }
        }
    }

    &>.search {
        position: relative;
        width: 240px;
        height: 30px;
        margin-right: 92px;

        div {
            width: 300px;
            padding: 5px;
            background-color: white;
            border: 1px solid #aaa;
            position: absolute;
            top: 57px;
            left: 0px;
            z-index: 99;
            display: none;

            p {
                height: 33px;
                line-height: 33px;
                color: #444444;
                margin-bottom: 5px;
                border-radius: 8px;
                text-indent: 10px;

                &:hover {
                    background-color: whitesmoke;
                }

                span {
                    color: #ff7e7e;
                }
            }
        }

        &>input {
            padding: 0 4px 0 10px;
            width: 220px;
            height: 30px;
            line-height: 30px;
            border: 0 none;
            border-radius: 20px;
            position: absolute;
            left: 0;
            top: 0px;
            outline: none;
            border: 1px solid #ff7e7e;
        }

        &>button {
            width: 42px;
            height: 32px;
            background-color: #ff7e7e;
            border-radius: 20px;
            border: none;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            position: absolute;
            top: 0;
            right: -40px;
            outline: none;
            cursor: pointer;

            &>img {
                position: absolute;
                left: 6px;
                top: 5px;
            }
        }
    }

    &>.publish {
        width: 88px;
        height: 32px;
        background-color: #ff7e7e;
        color: white;
        padding-left: 17px;
        font-size: 20px;
        line-height: 32px;
        border-radius: 44px;
        cursor: pointer;
    }

    &>.faily {
        font-size: 20px;
        color: #777;
        width: 150px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        margin-left: 25px;
        margin-right: 20px;
        cursor: pointer;

        &:hover {
            background-color: whitesmoke;
            border-radius: 10px;
        }
    }

    &>.news {
        font-size: 20px;
        color: #777;
        width: 65px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        cursor: pointer;
        margin-right: 45px;

        &:hover {
            background-color: whitesmoke;
            border-radius: 10px;
        }
    }

    &>.person {
        width: 140px;
        height: 45px;
        display: flex;
        align-items: center;
        font-size: 20px;
        color: #777;
        cursor: pointer;
    }
}

/* banner */
.adver {
    width: 1050px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 36px;
    box-sizing: border-box;

    img {
        width: 100%;
    }
}

.life {
    width: 1050px;
    height: 70px;
    margin: 50px auto;
    border: 1px solid #e0e0e0;

    h2 {
        text-align: center;
        height: 70px;
        line-height: 70px;
        color: #444444;
        font-size: 26px;
        font-weight: 700;
        font-family: "微软雅黑";
    }
}

.content {
    width: 1070px;
    margin: 30px auto;
    overflow: hidden;

    ul {
        width: 247px;
        /* height: 1000px; */
        margin: 0 10px;
        /* background-color: rgb(205, 159, 248); */
        float: left;
        list-style: none;

        li {
            border: 1px solid #111;
            /* width: 100%; */
            background-color: white;
            /* height: 600px; */
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0px;
            }
        }

        .top {
            width: 100%;
        }

        .bottom {
            width: 100%;
            box-sizing: border-box;
            padding: 10px;
            display: flex;
            flex-direction: column;

            .title {
                width: 100%;
                min-height: 10px;
                text-indent: 32px;
            }

            .fav {
                display: flex;

                h3 {
                    color: #a0a0a0;
                    width: 60px;
                    font-weight: normal;
                    text-indent: 45px;
                    font-size: 14px;
                    margin: 10px 0 5px;
                    display: inline-block;

                    &:first-child {
                        background: url(../images/info1.jpg) no-repeat;
                        background-size: 16px;
                        background-position: 22px 0px;
                    }

                    &:last-child {
                        background: url(../images/info2.jpg) no-repeat;
                        background-size: 16px;
                        background-position: 22px 2px;
                    }
                }
            }

            .author {
                display: flex;
                align-items: center;
                flex: 1;

                .avatar {
                    width: 25px;
                    height: 25px;
                    margin-left: 20px;
                    margin-right: 10px;
                    border-radius: 50%;
                    overflow: hidden;
                }
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        display: block;
    }
}

footer {
    width: 100%;
    height: 280px;
    padding: 24px 50px 0;
    background-color: #555555;
    box-sizing: border-box;
    color: #c6c6c6;

    .main {
        width: 1000px;
        height: 256px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
}

/* 内容区 */
.main {
    .outer {
        display: flex;
    }

    .QR {
        width: 235px;
        height: 170px;
        padding: 0 107px 0 37px;
        box-sizing: border-box;
    }

    .inter {
        width: 100%;
        margin: 10px 0;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #ccc;
    }
}

.QR {
    div {
        width: 179px;
        height: 165px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        h5 {
            width: 70px;
            height: 19px;
            font-size: 14px;
            color: #fff;
            font-weight: 600;
        }

        span {
            display: block;
            border: 2px solid #fff;
        }

        img {
            width: 84px;
            height: 84px;
        }

        .p1 {
            width: 70px;
            height: 20px;
            font-size: 14px;
            color: #fff;
            line-height: 20px;
        }

        .p2 {
            width: 126px;
            height: 20px;
            font-size: 14px;
            color: #fff;
            line-height: 20px;
        }
    }
}

.outer {
    .one {
        width: 230px;
        height: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        p {
            width: 64px;
            height: 24px;
            margin-bottom: 16px;
            color: #fff;
            font-size: 16px;
        }

        ul {
            width: 100;
            height: 132px;
            display: flex;
            flex-direction: column;

            li {
                width: 100px;
                height: 21px;
                margin-bottom: 12px;
                font-size: 14px;
                color: #c6c6c6;
                opacity: 0.8;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .two {
        width: 230px;
        height: 170px;
        padding: 0 70px;
        box-sizing: border-box;
        text-align: center;

        p {
            color: #fff;
            margin-bottom: 16px;
            font-weight: 500;
            font-size: 14px;
        }

        li {
            margin-bottom: 12px;
            font-size: 15px;
            color: #c6c6c6;
            opacity: 0.8;
        }
    }

    .three {
        width: 270px;
        height: 170px;
        padding-left: 70px;
        box-sizing: border-box;

        p {
            width: 100%;
            height: 19px;
            color: #fff;
            margin-bottom: 16px;
            font-size: 14px;
        }

        li {
            width: 100px;
            height: 21px;
            margin-bottom: 12px;
            font-size: 14px;
            color: #c6c6c6;
            opacity: 0.8;
        }
    }
}

.inter a,
.inter span a {
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    color: #ccc;
}

.inter {
    .div-one {
        width: 100%;
        height: 13px;
        line-height: 13px;
        margin-bottom: 5px;
        margin-bottom: 10px;

        .a1 {
            background: url(../images/footer1.png) no-repeat;
            background-size: contain;
            display: inline-block;
            vertical-align: middle;
            width: 25px;
            height: 25px;
            border-right: none;
            padding: 0;
        }

        .a2 {
            display: inline-block;
            width: 25px;
            height: 25px;
            background: url(../images/footer2.png) no-repeat;
            background-size: contain;
            vertical-align: middle;
            border-right: none;
            padding: 0;
        }
    }

    .div-two {
        line-height: 13px;
        text-align: center;
    }
}

.inter .div-one a,
.div-one span {
    border-right: 1px solid #ccc;
    padding-right: 10px;
}

.div-two {
    span {
        color: #ccc;
        margin-right: 8px;
        padding-left: 8px;
        white-space: nowrap;
        border-left: 1px solid #ccc;

        /* padding-right: 10px; */
        &:nth-child(1) {
            border-left: none;
        }
    }
}