<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer" />
    <title>首页</title>
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="fix">
        <a href="">找图必备神器App</a>
        <span>></span>
    </div>
    <div class="header">
        <p></p>
        <div class="logo">
            <a href="./index.html"><img src="../images/logo.jpg" alt=""></a>
        </div>
        <div class="sort">
            <p>
                分类&nbsp;<span class="iconfont">&#xe508;</span>
            </p>
            <ul>
                <img src="../images/sort_hot.jpg" alt="">
                <a href="./fingerpost.html">
                    <img src="../images/sort_mon.jpg" alt="">
                </a>            
                <li>家居生活</li>
                <li>美食菜谱</li>
                <li>手工DIY</li>
                <li>时尚搭配</li>
                <li>美妆造型</li>
                <li>婚纱婚礼</li>
                <li>文字句子</li>
                <li>插画绘画</li>
                <li>影音书籍</li>
                <li>人物明星</li>
                <li>植物多肉</li>
                <li>生活百科</li>
                <li>搞笑萌宠</li>
                <li>人文艺术</li>
                <li>设计</li>
                <li>古风</li>
                <li>壁纸</li>
                <li>旅行</li>
                <li>头像</li>
                <li>摄影</li>
                <li>表情</li>
                <li>素材</li>
                <li>动图</li>
            </ul>
        </div>
        <div class="search">
            <div>
                <!-- <p>搜索含<span>  </span>的图片</p>
                <p>搜索含<span>  </span>的商品</p>
                <p>搜索含<span>  </span>的专辑</p>
                <p>搜索含<span>  </span>的文章</p>
                <p>搜索含<span>  </span>的达人</p> -->
            </div>
            <input type="text" name="" id="" placeholder="搜索感兴趣的内容">
            <button type="submit">
                <img src="../images/fdj.jpg" alt="">
            </button>
        </div>
        <div class="publish">
            + 发布
        </div>
        <div class="faily">
            <a href="./life.html">堆糖生活家</a>
        </div>
        <div class="news">消息</div>
        <div class="person">
            <img src="" alt="">
            <span><a href="./login.html">注册/登录</a></span>
            <!-- <img src="../images/con-r2.jpg" alt="">
            <span><a href="./login.html">Naoya</a></span> -->
        </div>
    </div>
    

    <!-- adver -->
    <div class="adver">
        <img src="../images/banner.png" alt="" >
    </div>

    <!-- banner -->
    <div class="banner">
        <div class="ban-left">
            <ul class="imgBox">
                <!-- <li><img src="../images/ban-1.jpg" alt=""></li>
                <li><img src="../images/ban-2.jpeg" alt=""></li>
                <li><img src="../images/ban-3.jpg" alt=""></li>
                <li><img src="../images/ban-4.jpg" alt=""></li>
                <li><img src="../images/ban-5.jpeg" alt=""></li> -->
                <li><img src="../images/ban-6.jpg" alt=""></li>
                <li><img src="../images/ban-7.jpg" alt=""></li>
            </ul>
            <ol class="pointBox">
                <!-- <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li> -->
            </ol>
            <div class="leftRight">
                <p class="left">&lt;</p>
                <p class="right">&gt;</p>
            </div>
        </div>
        <div class="ban-right">
            <h2>社区热点</h2>
            <div class="top">
                <a href="">插画地址</a>
                <a href="">动漫头像</a>
                <a href="">车银优</a>
                <a href="">流金岁月</a>
                <a href="">送你一朵小红花</a>
                <a href="">可爱GIF</a>
                <a href="">THE9</a>
                <a href="">ins风背景图</a>
            </div>
            <div class="center">
                <a href="">精选</a>
                <a href="">转运壁纸</a>
            </div>
            <div class="bottom">
                <img src="../images/loads.png" alt="">
                <div>
                    <h3>堆糖-美好研究所</h3>
                    <p>千万同好 珍藏分享</p>
                    <a href="">立即下载</a>
                </div>
            </div>
        </div>   
    </div>
    

    <!-- 选项卡 -->
    <div class="content">

        <div class="con-left">
            <ul>
                <li class="active">每日精选</li>
                <li>关注动态</li>
            </ul>
            <div class=content-hot>
                <!-- <ol> -->     
                    <!-- <li class="day active">
                        <div class="total">
                            <div><img src="../img/toux.jpg" alt=""></div>
                            <p>夏茵梦<br>
                                <span>热门内容</span>
                            </p>
                        </div>
                        <p class="intro">壁纸控</p>
                        <div class="info-img">
                            <img src="../img/index-info.jpg" alt="">
                            <img src="../img/index-info.jpg" alt="">
                            <img src="../img/index-info.jpg" alt="">
                            <img src="../img/index-info.jpg" alt="">
                            <img src="../img/index-info.jpg" alt="">
                            <img src="../img/index-info.jpg" alt="">
                        </div>
                        <div class="info-bot">
                            <p>赞</p>
                            <p>收藏</p>
                            <p style="border: none;">更多</p>
                        </div>
                        <div class="more-action-list">
                        <ul>
                            <li class="share-weibo">
                                <a class="sina" href="" >
                                <i></i><p>分享至新浪微博</p>
                                </a>
                            </li>
                            <li class="share-qq">
                                <a class="qzone" href="">
                                <i></i><p>分享至QQ空间</p>
                                </a>
                            </li>
                            <li class="report">
                            <i></i><p>举报</p>
                            </li>
                        </ul>
                </div>
                    </li>
                    <li class="concern">
                        <div class="">暂无内容</div>
                    </li> -->
                <!-- </ol> -->
            </div>
        </div>
        
        <div class="con-right">
            <div class="con-rt1">
                <h4>推荐关注</h4>
                <span>换一批</span>
            </div>
            <div class="con-rt2">
                <div>
                    <img src="../images/con-r1.jpg" alt="">
                    <h3>
                        AIRPHOTO
                        <p>擅长领域：<span>摄影</span></p>
                    </h3>
                    <a href="">关注</a>
                </div>
                <div>
                    <img src="../images/con-r2.jpg" alt="">
                    <h3>
                        顾顾gubi
                        <p>擅长领域：<span>Q版</span></p>
                    </h3> 
                    <a href="">关注</a>
                </div>
                <div>
                    <img src="../images/con-r3.jpg" alt="">
                    <h3>
                        奶油小滢
                        <p>擅长领域：<span>壁纸</span></p>
                    </h3>
                    <a href="">关注</a>
                </div>
                <div>
                    <img src="../images/con-r4.jpg" alt="">
                    <h3>
                        小蓝酱
                        <p>擅长领域：<span>手工</span></p>
                    </h3>
                    <a href="">关注</a>
                </div>
            </div>
            <div class="con-rt3">
                查看更多 >
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer>
        <!-- 内容区 -->
        <div class="main">
            <div class="outer">
                <!-- 二维码区域 -->
                <div class="QR">
                    <div>
                        <h5>APP下载</h5>
                        <p>扫码下载堆糖手机客户端</p>
                        <span>
                            <img src="https://c-ssl.duitang.com/uploads/people/201903/20/20190320123039_Ey8sc.png" alt="">
                        </span>
                    </div>
                </div>
                <div class="one">
                    <p>关于我们</p>
                    <ul>
                        <li>关于我们</li>
                        <li>加入我们</li>
                        <li>联系我们</li>
                        <li>商务合作</li>
                    </ul>
                </div>
                <div class="two">
                    <p>关注我们</p>
                    <ul>
                        <li>新浪微博</li>
                        <li>微信公众号</li>
                    </ul>
                </div>
                <div class="three">
                    <p>友情链接</p>
                    <ul>
                        <li>爱物网</li>
                        <li>东方女性网</li>
                        <li>肉丁网</li>
                        <li>更多...</li>
                    </ul>
                </div>
            </div>
            <div class="inter">
                <div class="div-one">
                    <a class="a1" target="_blank" href="http://www.zx110.org/"></a>
                    <a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备10038086号-3</a>
                    <a class="a2" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010102002072"  target="_blank"></a>
                    <span class="span-one">沪公网安备31010102002072号</span>
                    <span class="span-one">有害内容举报电话：021-63462282</span>
                    <a class="report-center" href="http://www.shjbzx.cn" target="_blank">上海市互联网违法和不良信息举报中心</a>
                    <a href="https://www.12377.cn/" target="_blank">网上有害信息举报专区</a>
                </div>
                <div class="div-two">
                    <span>
                        <a target="_blank" href="/business/entity/">自营经营者信息</a>
                    </span>
                    <span>增值电信业务经营许可证：沪B2-20180610</span>
                    <span>网络文化经营许可证 沪网文〔2020〕1392-114号</span>
                    <span>©2021 duitang.com 版权所有</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="../public/jquery.js"></script>
    <script src="../public/utils.js"></script>
    <script src="../js/index.js"></script>
    <!-- <script>

    const info_bot=document.querySelector(".info-bot");
    const more_list=document.querySelector(".more-action-list");
    const more_list1=document.querySelector(".more-action-list1");
    var p=document.getElementsByTagName("info_bot")[3];
    window.onload=function(){

    
        more_list.onmouseout=function(){
            more_list.style.display='none';
            more_list.classList.add('more_list1');
            console.log(this);
        }
    
        p.onmouseover=function(){
            more_list.classList.remove('more_list1');
            more_list.style.display='block';
            more_list.hover=function( ){
                more_list.style.display='block';
            }
            console.log(this);
        }    
}
    </script> -->
</body>
</html>