<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/life.css">
</head>
<body>
    <div class="warp">
        <div class="bigBox">
            <div class="lifeOne">
                <div class="head">
                    <P class="home">
                        <a href="./index.html" id="a">
                            <img src="../images/life2.png">
                        </a>
                        
                    </P>
                    <p class="hh">
                        <a href="" style="color: white;background-color:  #ff4466;">注册</a>
                        <span>|</span>
                        <a href="./login.html">登录</a>
                    </p>
                </div>
                <div class="banner">
                    <P>
                        <img src="../images/life3.png" alt="">
                    </P>
                    <p>生活不仅是活着，还需要一点仪式感</p>
                    <p>/这种认真的生活态度，是感受幸福的条件/</p>
                    <p>
                        <a href="">成为堆糖生活家></a>
                    </p>
                </div>
            </div>
            <div class="lifeTwo">
                <ul>
                    <li><img src="../images/life5.png"></li>
                    <li>
                        <p class="line"></p>
                        <h3>研究生活细节&nbsp;&nbsp;分享美好时光</h3>
                        <p class="test">
                            在这里，你可以记录:<br>
                            美食烹饪心得、美妆护肤评测；<br>
                            影音书观后感、旅行风光游记；<br>
                            住家收纳经验、手作心得教程；<br>
                            绘画心路历程、铲屎官人日记......
                        
                        </p>
                    </li>
                </ul>
            </div>
            <div class="lifeThr">
                <ul>
                    <li><img src="../images/life6.png"></li>
                    <li>
                        <p class="line"></p>
                        <h3>有更多人读懂你&nbsp;&nbsp;被堆糖官方推荐</h3>
                        <p class="test">
                            你可能收获：<br>
                            糖人们的关注和喜爱；<br>
                            一群志同道合的朋友；<br>
                            被推荐至堆糖首页或官方微博微信；<br>
                            被编辑发掘，成为达人的机会<br>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="lifeFour">
                <div class="bottom">
                    <h1>“寻找可以在平凡生活里发现不平凡的你们”</h1>
                    <p>／成为堆糖生活家，开启写作功能，记录美好生活／</p>
                    <p>
                        <a href="">成为堆糖生活家></a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="rightBox">
        <ol class="pointBox">
            <li class="active" data-page="0"></li>
            <li data-page="1"></li>
            <li data-page="2"></li>
            <li data-page="3"></li>
        </ol>
        <p class="return">
            <img src="../images/life4.png">
        </p>
    </div>



    <script src="../public/utils.js"></script>
    <script src="../public/jquery.js"></script>
    <script src="../js/life.js"></script>
</body>
</html>