<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>糖糖分类</title>
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../css/sort_sear.css">
</head>
<body>
    <div class="header">
        <p></p>
        <div class="logo">
            <a href="./index.html"><img src="../images/logo.jpg" alt=""></a>
        </div>
        <div class="sort">
            <p>
                分类&nbsp;<span class="iconfont">&#xe508;</span>
            </p>
            <ul>
                <img src="../images/sort_hot.jpg" alt="">
                <img src="../images/sort_mon.jpg" alt="">
                <li>家居生活</li>
                <li>美食菜谱</li>
                <li>手工DIY</li>
                <li>时尚搭配</li>
                <li>美妆造型</li>
                <li>婚纱婚礼</li>
                <li>文字句子</li>
                <li>插画绘画</li>
                <li>影音书籍</li>
                <li>人物明星</li>
                <li>植物多肉</li>
                <li>生活百科</li>
                <li>搞笑萌宠</li>
                <li>人文艺术</li>
                <li>设计</li>
                <li>古风</li>
                <li>壁纸</li>
                <li>旅行</li>
                <li>头像</li>
                <li>摄影</li>
                <li>表情</li>
                <li>素材</li>
                <li>动图</li>
            </ul>
        </div>
        <div class="search">
            <div>
                <!-- <p>搜索含<span>  </span>的图片</p>
                <p>搜索含<span>  </span>的商品</p>
                <p>搜索含<span>  </span>的专辑</p>
                <p>搜索含<span>  </span>的文章</p>
                <p>搜索含<span>  </span>的达人</p> -->
            </div>
            <input type="text" name="" id="" placeholder="搜索感兴趣的内容">
            <button type="submit">
                <img src="../images/fdj.jpg" alt="">
            </button>
        </div>
        <div class="publish">
            + 发布
        </div>
        <div class="faily">堆糖生活家</div>
        <div class="news">消息</div>
        <div class="person">
            <img src="../images/con-r2.jpg" alt="">
            <span>Naoya</span>
        </div>
    </div>
    

    <!-- adver -->
    <div class="adver">
        <img src="../images/banner.png" alt="" >
    </div>

    <!-- 一级分类 -->
    <div class="life">
        
    </div>

    <!-- 瀑布流，渲染数据 -->
    <div class="content">
        <ul>
            <!-- <li>
                <div class="top">
                    <img src="https://c-ssl.duitang.com/uploads/item/202006/30/20200630204239_TYZUN.thumb.1000_0.jpeg" alt="">
                </div>
                <div class="bottom">
                    <div class="title">我是图片说明</div>
                    <div class="fav">
                        <h3>2</h3>
                        <h3>13</h3>
                    </div>
                    <div class="author">
                        
                        <div class="avatar">
                            <img src="https://c-ssl.duitang.com/uploads/people/201804/05/20180405170714_2uBzx.thumb.200_200_c.jpeg" alt="">
                        </div>
                        <div class="name">我是xxx</div>
                    </div>
                </div>
            </li> -->
        </ul>
        <ul></ul>
        <ul></ul>
        <ul></ul>
    </div>
    <!-- footer -->
    <footer>
        <!-- 内容区 -->
        <div class="main">
            <div class="outer">
                <!-- 二维码区域 -->
                <div class="QR">
                    <div>
                        <h5>APP下载</h5>
                        <p>扫码下载堆糖手机客户端</p>
                        <span><img src="https://c-ssl.duitang.com/uploads/people/201903/20/20190320123039_Ey8sc.png" alt=""></span>
                    </div>
                </div>
                <div class="one">
                    <p>关于我们</p>
                    <ul>
                        <li>关于我们</li>
                        <li>加入我们</li>
                        <li>联系我们</li>
                        <li>商务合作</li>
                    </ul>
                </div>
                <div class="two">
                    <p>关注我们</p>
                    <ul>
                        <li>新浪微博</li>
                        <li>微信公众号</li>
                    </ul>
                </div>
                <div class="three">
                    <p>友情链接</p>
                    <ul>
                        <li>爱物网</li>
                        <li>东方女性网</li>
                        <li>肉丁网</li>
                        <li>更多...</li>
                    </ul>
                </div>
            </div>
            <div class="inter">
                <div class="div-one">
                    
                    <a class="a1" target="_blank" href="http://www.zx110.org/"></a>
                    <a href="http://www.miitbeian.gov.cn" target="_blank">沪ICP备10038086号-3</a>
                    <a class="a2" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010102002072"  target="_blank"></a>
                    <span class="span-one">沪公网安备31010102002072号</span>
                    <span class="span-one">有害内容举报电话：021-63462282</span>
                    <a class="report-center" href="http://www.shjbzx.cn" target="_blank">上海市互联网违法和不良信息举报中心</a>
                    <a href="https://www.12377.cn/" target="_blank">网上有害信息举报专区</a>
                </div>
                <div class="div-two">
                    <span>
                        <a target="_blank" href="/business/entity/">自营经营者信息</a>
                    </span>
                    <span>增值电信业务经营许可证：沪B2-20180610</span>
                    <span>网络文化经营许可证 沪网文〔2020〕1392-114号</span>
                    <span>©2021 duitang.com 版权所有</span>
                </div>
            </div>
        </div>
    </footer>

    <script src="../public/jquery.js"></script>
    <script src="../public/utils.js"></script>
    <script src="../js/sort_sear.js"></script>
</body>
</html>