@charset "UTF-8";
/* 全局 */
* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body,
html {
  width: 100%;
  height: 100%;
}

dl, ul, ol, li, a {
  list-style: none;
}

blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
  margin: 0;
  padding: 0;
}

.fix {
  width: 147px;
  height: 50px;
  text-align: center;
  background-color: #ff7e7e;
  border-radius: 16px;
  /* text-indent: 0px; */
  position: fixed;
  left: 18px;
  bottom: 100px;
  cursor: pointer;
}
.fix a {
  letter-spacing: 1px;
  color: white;
  line-height: 50px;
  text-decoration: none;
  font-size: 14px;
  position: relative;
}
.fix span {
  position: absolute;
  top: 15px;
  left: 135px;
  color: white;
}

/* 头部 */
.header {
  width: 1050px;
  height: 81px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: white;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}
.header > p {
  width: 200%;
  height: 2px;
  position: absolute;
  top: 81px;
  left: -450px;
  background-image: url(../images/head_bcg.jpg);
}
.header > .logo {
  padding-right: 30px;
}
.header > .sort p {
  width: 95px;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  color: #666666;
  border: 1px solid #acacac;
  text-indent: 18px;
  border-radius: 18px;
  margin-right: 65px;
  cursor: pointer;
  position: relative;
}
.header > .sort > .act {
  background-color: #fff5f5;
  border: 1px solid #ff7f7f;
  color: #ff7f7f;
}
.header > .sort ul {
  width: 300px;
  padding: 8px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 60px;
  top: 62px;
  z-index: 99999;
  background-color: white;
  transition: 0.2s;
  opacity: 0;
}
.header > .sort ul li {
  width: 65px;
  height: 25px;
  cursor: pointer;
  margin: 3px;
  font-size: 14px;
  border-radius: 10px;
  text-align: center;
  line-height: 25px;
  color: #444;
}
.header > .sort ul li:nth-child(1) {
  margin-right: 5px;
}
.header > .sort ul li:hover {
  background-color: whitesmoke;
}
.header > .sort ul img {
  width: 140px;
  height: 46px;
  margin: 5px;
}
.header > .search {
  position: relative;
  width: 240px;
  height: 30px;
  margin-right: 92px;
}
.header > .search div {
  width: 300px;
  padding: 5px;
  background-color: white;
  border: 1px solid #aaa;
  position: absolute;
  top: 57px;
  left: 0px;
  z-index: 99;
  display: none;
}
.header > .search div p {
  height: 33px;
  line-height: 33px;
  color: #444444;
  margin-bottom: 5px;
  border-radius: 8px;
  text-indent: 10px;
}
.header > .search div p:hover {
  background-color: whitesmoke;
}
.header > .search div p span {
  color: #ff7e7e;
}
.header > .search > input {
  padding: 0 4px 0 10px;
  width: 220px;
  height: 30px;
  line-height: 30px;
  border: 0 none;
  border-radius: 20px;
  position: absolute;
  left: 0;
  top: 0px;
  outline: none;
  border: 1px solid #ff7e7e;
}
.header > .search > button {
  width: 42px;
  height: 32px;
  background-color: #ff7e7e;
  border-radius: 20px;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: absolute;
  top: 0;
  right: -44px;
  outline: none;
  cursor: pointer;
}
.header > .search > button > img {
  position: absolute;
  left: 6px;
  top: 5px;
}
.header > .publish {
  width: 88px;
  height: 32px;
  background-color: #ff7e7e;
  color: white;
  padding-left: 17px;
  font-size: 20px;
  line-height: 32px;
  border-radius: 44px;
  cursor: pointer;
}
.header > .faily {
  font-size: 20px;
  color: #777;
  width: 150px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-left: 25px;
  margin-right: 20px;
  cursor: pointer;
}
.header > .faily a {
  color: #777;
  text-decoration: none;
}
.header > .faily:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}
.header > .news {
  font-size: 20px;
  color: #777;
  width: 65px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  margin-right: 45px;
}
.header > .news:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}
.header > .person {
  width: 140px;
  height: 45px;
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #777;
  cursor: pointer;
}
.header > .person a {
  color: #777;
  text-decoration: none;
}
.header > .person img {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

/* adver */
.adver {
  width: 1050px;
  margin: 0 auto;
  margin-top: 130px;
  margin-bottom: 36px;
  box-sizing: border-box;
}
.adver img {
  width: 100%;
}

.content {
  width: 1050px;
  height: auto;
  margin: 25px auto;
  display: flex;
}
.content .con-left {
  width: 744px;
  height: auto;
}
.content .con-left ul {
  width: 110px;
}
.content .con-left ul li {
  height: 57px;
  line-height: 57px;
  text-align: center;
  font-size: 16px;
  color: #666666;
  cursor: pointer;
}
.content .con-left ul .active {
  color: #ff7e7e;
  background: url(../images/tab-back.jpg) no-repeat;
  background-color: #faeded;
  background-position: 9px 17px;
}
.content .con-left ol {
  width: 588px;
  margin-bottom: 20px;
}
.content .con-left ol .day {
  border: 1px solid #e0e0e0;
}
.content .con-left ol .day a {
  list-style: none;
  text-decoration: none;
}
.content .con-left ol .day .total {
  display: flex;
  padding: 27px 0 0 27px;
}
.content .con-left ol .day .total > div {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.content .con-left ol .day .total img {
  width: 50px;
  height: 50px;
}
.content .con-left ol .day .total p {
  font-size: 18px;
  color: #444;
  line-height: 25px;
}
.content .con-left ol .day .total p span {
  font-size: 16px;
  color: #aaa;
  line-height: 22px;
}
.content .con-left ol .day .attention-status {
  display: inline-block;
  width: 84px;
  height: 36px;
  border-radius: 46px;
  font-size: 18px;
  text-align: center;
  line-height: 36px;
  background-color: #ff7e7e;
  color: #fff;
  position: relative;
  left: 457px;
  top: -48px;
}
.content .con-left ol .day .intro {
  font-size: 16px;
  line-height: 24px;
  color: #444;
  margin: 16px 0 10px 0;
  padding: 0 27px;
}
.content .con-left ol .day .info-img {
  display: flex;
  width: 372px;
  flex-wrap: wrap;
  padding: 0 27px;
}
.content .con-left ol .day .info-img img {
  width: 114px;
  height: 114px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.content .con-left ol .day .atlas-tags {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 20px;
}
.content .con-left ol .day .atlas-tags .tag {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: 12px;
  margin-bottom: 12px;
  padding: 6px 10px;
  font-size: 12px;
  color: #ff7e7e;
  border: 1px solid #ff7e7e;
  border-radius: 25px;
  vertical-align: sub;
  white-space: nowrap;
  cursor: pointer;
}
.content .con-left ol .day .atlas-tags .add-tag {
  display: none;
  padding: 6px 10px;
  font-size: 12px;
  color: #fff;
  background-color: #ff7e7e;
  border-radius: 25px;
  vertical-align: sub;
}
.content .con-left ol .day .info-bot {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 80px;
  border-top: 1px solid #e0e0e0;
}
.content .con-left ol .day .info-bot p {
  width: 196px;
  height: 40px;
  padding: 10px 0;
  font-size: 18px;
  text-align: center;
  text-indent: 16px;
  color: #666;
  line-height: 46px;
  border-right: 1px solid #e0e0e0;
  cursor: pointer;
  margin-right: 8px;
}
.content .con-left ol .day .info-bot p:hover {
  color: pink;
}
.content .con-left ol .day .info-bot p:nth-child(1) {
  background: url(../images/info1.jpg) no-repeat;
  background-position: 28px 21px;
}
.content .con-left ol .day .info-bot p:nth-child(2) {
  background: url(../images/info4.png) no-repeat;
  background-position: 17px 14px;
}
.content .con-left ol .day .info-bot p:nth-child(3) {
  background: url(../images/info2.jpg) no-repeat;
  background-position: 22px 21px;
}
.content .con-left ol .day .info-bot p:nth-child(4), .content .con-left ol .day .info-bot p .active {
  background: url(../images/info3.jpg) no-repeat;
  background-position: 28px 28px;
}
.content .con-left ol .info-bot-container {
  position: relative;
}
.content .con-left ol .info-bot-container .more-action-list {
  -webkit-box-shadow: 0 2px 3px 0 rgba(214, 214, 214, 0.5);
  box-shadow: 0 2px 3px 0 rgba(214, 214, 214, 0.5);
  position: absolute;
  top: 92px;
  right: -1px;
  width: 198px;
  background-color: #fff;
  display: none;
  border: 1px solid #e0e0e0;
  z-index: 11000;
}
.content .con-left ol .info-bot-container .more-action-list.show {
  overflow: visible;
}
.content .con-left ol .info-bot-container .more-action-list::after {
  content: "";
  position: absolute;
  top: -22px;
  left: 83px;
  border-top: 10px solid transparent;
  border-bottom: 12px solid #e0e0e0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: block;
}
.content .con-left ol .info-bot-container .more-action-list::before {
  content: "";
  position: absolute;
  top: -21px;
  left: 83px;
  border-top: 10px solid transparent;
  border-bottom: 13px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  z-index: 1;
  display: none;
}
.content .con-left ol .info-bot-container .more-action-list ul {
  width: 175px;
}
.content .con-left ol .info-bot-container .more-action-list ul .master {
  display: none;
}
.content .con-left ol .info-bot-container .more-action-list ul li {
  clear: both;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 20px;
  height: 46px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}
.content .con-left ol .info-bot-container .more-action-list ul li i {
  display: inline-block;
  margin-right: 8px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: cover;
}
.content .con-left ol .info-bot-container .more-action-list ul li a {
  line-height: 24px;
  text-decoration: none;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.content .con-left ol .info-bot-container .more-action-list ul li p {
  white-space: nowrap;
  color: #777;
  font-size: 14px;
}
.content .con-left ol .info-bot-container .more-action-list ul li:last-child {
  border: none;
}
.content .con-left ol .info-bot-container .more-action-list ul li.share-weibo i {
  background-image: url(../images/20180420182257_c4FZu.png);
}
.content .con-left ol .info-bot-container .more-action-list ul li.share-qq i {
  background-image: url(../images/20180420182257_mHrNM.png);
}
.content .con-left ol .info-bot-container .more-action-list ul li.edit i {
  background-image: url(../images/20180423102648_svZi2.png);
}
.content .con-left ol .info-bot-container .more-action-list ul li.delete i {
  background-image: url(../images/20180423102648_e5dKj.png);
}
.content .con-left ol .info-bot-container .more-action-list ul li.not-interested i {
  background-image: url(../images/20180420182257_VmndA.png);
}
.content .con-left ol .info-bot-container .more-action-list ul li.report i {
  background-image: url(../images/20180420182257_adCkc.png);
}
.content .con-left ol .info-bot-container .more-action-list1::before {
  color: pink;
  display: none;
}
.content .con-left ol .info-bot-container .more-action-list1::after {
  color: pink;
  display: block;
}
.content .con-left ol .concern {
  width: 588px;
  height: 142px;
  text-align: center;
  line-height: 142px;
  color: #aaa;
  border: 1px solid #e0e0e0;
}
.content .con-left .cmt-title {
  padding: 20px 15px 6px;
  background-color: #fff;
}
.content .con-left .cmt-title span {
  height: 20px;
  font-size: 18px;
  font-weight: 700;
}
.content .con-left .cmt-title::before {
  content: "";
  float: left;
  display: block;
  width: 6px;
  height: 20px;
  margin: 3px 14px 0 0;
  background: #ff7e7e;
  border-radius: 4px;
}
.content .con-left .cmt-list {
  background-color: #fff;
  padding-bottom: 20px;
}
.content .con-left .cmt-list .cmt {
  border-bottom: 1px solid #d8d8d8;
  padding: 25px 0 50px 15px;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.content .con-left .cmt-list .cmt-dn {
  display: none !important;
}
.content .con-left .cmt-list em {
  font-style: normal;
  display: inline-block;
  line-height: 30px;
}
.content .con-left .cmt-list ul {
  width: 740px;
}
.content .con-left .cmt-list ul li {
  vertical-align: middle;
}
.content .con-left .cmt-list ul li a:link, .content .con-left .cmt-list ul li a:visited {
  text-decoration: none;
}
.content .con-left .cmt-list ul li.clr:after {
  content: " ";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}
.content .con-left .cmt-list ul li.cmt {
  border-bottom: 1px solid #d8d8d8;
  padding: 25px 0 50px 15px;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: transparent;
}
.content .con-left .cmt-list ul li.cmt.cmt > .line-split-h {
  position: absolute;
  left: 15px;
  top: 0;
}
.content .con-left .cmt-list ul li.cmt.cmt:first-child > .line-split-h {
  display: none;
}
.content .con-left .cmt-list ul .sender-avatar {
  float: left;
  position: relative;
  width: 40px;
  height: 40px;
}
.content .con-left .cmt-list ul .sender-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.content .con-left .cmt-list ul .cmt-r {
  position: relative;
  margin-left: -550px;
  margin-top: -17px;
}
.content .con-left .cmt-list ul .cmt-r a {
  display: inline-block;
}
.content .con-left .cmt-list ul .cmt-r .cmt-r-info {
  position: relative;
  text-align: left;
}
.content .con-left .cmt-list ul .cmt-r .cmt-r-info span {
  display: block;
}
.content .con-left .cmt-list ul .cmt-r .cmt-r-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #444;
  margin-left: 12px;
}
.content .con-left .cmt-list ul .cmt-r .cmt-r-time {
  line-height: 23px;
  font-size: 14px;
  color: #aaa;
  position: relative;
  left: 12px;
  top: 0px;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box {
  margin-top: 6px;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box p.cmt-maincont {
  word-wrap: break-word;
  word-break: break-all;
  line-height: 28px;
  padding-right: 15px;
  font-size: 16px;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-r-item-ft .cmt-r-item-pos {
  position: absolute;
  left: auto;
  right: 0;
  top: 50px;
  font-size: 14px;
  color: #777;
  line-height: 30px;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-r-item-ft .cmt-r-item-pos span {
  float: right;
  cursor: pointer;
  padding: 0 5px;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-r-item-ft .cmt-r-item-pos .cmt-like {
  height: 30px;
  margin-right: 15px;
  font-size: 14px;
  color: #aaa;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-r-item-ft .cmt-r-item-pos .cmt-like::before {
  content: "";
  display: block;
  float: left;
  width: 1px;
  height: 20px;
  margin: 5px 6px 0 0;
  background-color: #d8d8d8;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-r-item-ft .cmt-r-item-pos .cmt-like i {
  width: 30px;
  height: 30px;
  margin: -2px 0 0;
  background-position: -127.8px -5.4px;
  background-size: 81.6px 81.6px;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-r-item-ft .cmt-r-item-pos .cmt-like i.icon {
  background-image: url(../images/20160831103240_Br5RN.png);
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-r-item-ft .cmt-r-item-pos .cmt-like i.l {
  float: left !important;
  display: inline;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-r-item-ft .cmt-r-item-pos .cmt-like em {
  float: left;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-r-item-ft .cmt-r-item-pos .cmt-delete-btn {
  float: left;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-r-item-ft .cmt-r-item-pos .cmt-dn {
  display: none !important;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-r-item-ft .cmt-r-item-pos .c-more {
  display: none;
  float: right;
  width: 30px;
  height: 30px;
  background-image: url(https://c-ssl.duitang.com/uploads/people/201608/31/20160831103240_Br5RN.png);
  background-position: -104px -104px;
  background-size: 68px 68px;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-r-item-ft .cmt-r-item-pos .r {
  float: right !important;
  display: inline;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-maincont {
  word-wrap: break-word;
  word-break: break-all;
  line-height: 28px;
  padding-right: 15px;
  font-size: 16px;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .reply-box {
  margin: 10px 15px 0 0;
  padding: 10px;
  border-radius: 4px;
  background-color: #fafafa;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .reply-box .comment-input-in textarea {
  display: block;
  resize: none;
  width: 490px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 10px 6px;
  font-size: 14px;
  border: 1px solid #fecccc;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .reply-box .comment-input-in .comment-send-btn-wrap {
  height: 36px;
  line-height: 32px;
  padding: 10px 0 0;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .reply-box .comment-input-in .comment-send-btn-wrap .comment-send-btn {
  float: right;
  width: 60px;
  text-align: center;
  font-size: 14px;
  background-color: #ff7e7e;
  color: #fff;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .reply-box .comment-input-in .comment-send-btn-wrap .comment-send-cancel {
  float: right;
  width: 50px;
  text-align: center;
  font-size: 12px;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .reply-box .cmt-r-item-find {
  padding: 10px 2px 0 10px;
  line-height: 20px;
  font-size: 16px;
  color: #ff7e7e;
}
.content .con-left .cmt-list ul .cmt-r .commont-data .cmt-box .cmt-dn {
  display: none !important;
}
.content .con-left .cmt-list ul .cmt-show-more-comment {
  position: relative;
  border: 0 none;
  margin-top: -2px;
  background-color: #fff;
  color: #ff7e7e;
}
.content .con-left .cmt-list ul .cmt-show-more-comment a {
  display: block;
  height: 64px;
  line-height: 64px;
  margin-top: 20px;
  border: 1px solid #ff7e7e;
  text-align: center;
  font-size: 16px;
  color: #ff7e7e;
}
.content .con-right {
  width: 320px;
  height: 450px;
  border: 1px solid #e0e0e0;
}
.content .con-right .con-rt1 {
  padding: 18px;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
}
.content .con-right .con-rt1 h4 {
  font-size: 18px;
  color: #444;
  font-weight: 600;
}
.content .con-right .con-rt1 span {
  position: absolute;
  top: 23px;
  right: 18px;
  font-size: 14px;
  color: #ff7e7e;
  cursor: pointer;
}
.content .con-right .con-rt2 {
  margin-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
}
.content .con-right .con-rt2 div {
  height: 80px;
  display: flex;
  margin: 5px 20px 0px;
  position: relative;
}
.content .con-right .con-rt2 div img {
  height: 60px;
}
.content .con-right .con-rt2 div h3 {
  font-size: 16px;
  color: #444;
  font-weight: 600;
  margin-top: 10px;
}
.content .con-right .con-rt2 div h3 p {
  color: #777777;
}
.content .con-right .con-rt2 div h3 p span {
  font-weight: 600;
}
.content .con-right .con-rt2 div a {
  display: block;
  width: 52px;
  height: 24px;
  color: white;
  background-color: #ff7e7e;
  text-decoration: none;
  text-align: center;
  line-height: 24px;
  position: absolute;
  top: 15px;
  right: 10px;
}
.content .con-right .con-rt3 {
  height: 50px;
  color: #ff7e7e;
  text-align: center;
  line-height: 50px;
}

footer {
  width: 100%;
  height: 280px;
  padding: 24px 50px 0;
  background-color: #555555;
  box-sizing: border-box;
  color: #c6c6c6;
}
footer .main {
  width: 1000px;
  height: 256px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/* 内容区 */
.main .outer {
  display: flex;
}
.main .QR {
  width: 235px;
  height: 170px;
  padding: 0 107px 0 37px;
  box-sizing: border-box;
}
.main .inter {
  width: 100%;
  margin: 10px 0;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #ccc;
}

.QR div {
  width: 179px;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.QR div h5 {
  width: 70px;
  height: 19px;
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}
.QR div span {
  display: block;
  border: 2px solid #fff;
}
.QR div img {
  width: 84px;
  height: 84px;
}
.QR div .p1 {
  width: 70px;
  height: 20px;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}
.QR div .p2 {
  width: 126px;
  height: 20px;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
}

.outer .one {
  width: 230px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.outer .one p {
  width: 64px;
  height: 24px;
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
}
.outer .one ul {
  width: 100;
  height: 132px;
  display: flex;
  flex-direction: column;
}
.outer .one ul li {
  width: 100px;
  height: 21px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #c6c6c6;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.outer .two {
  width: 230px;
  height: 170px;
  padding: 0 70px;
  box-sizing: border-box;
  text-align: center;
}
.outer .two p {
  color: #fff;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
}
.outer .two li {
  margin-bottom: 12px;
  font-size: 15px;
  color: #c6c6c6;
  opacity: 0.8;
}
.outer .three {
  width: 270px;
  height: 170px;
  padding-left: 70px;
  box-sizing: border-box;
}
.outer .three p {
  width: 100%;
  height: 19px;
  color: #fff;
  margin-bottom: 16px;
  font-size: 14px;
}
.outer .three li {
  width: 100px;
  height: 21px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #c6c6c6;
  opacity: 0.8;
}

.inter a,
.inter span a {
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  color: #ccc;
}

.inter .div-one {
  width: 100%;
  height: 13px;
  line-height: 13px;
  margin-bottom: 5px;
  margin-bottom: 10px;
}
.inter .div-one .a1 {
  background: url(../images/footer1.png) no-repeat;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-right: none;
  padding: 0;
}
.inter .div-one .a2 {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: url(../images/footer2.png) no-repeat;
  background-size: contain;
  vertical-align: middle;
  border-right: none;
  padding: 0;
}
.inter .div-two {
  line-height: 13px;
  text-align: center;
}

.inter .div-one a,
.div-one span {
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.div-two span {
  color: #ccc;
  margin-right: 8px;
  padding-left: 8px;
  white-space: nowrap;
  border-left: 1px solid #ccc;
}
.div-two span:nth-child(1) {
  border-left: none;
}

/*# sourceMappingURL=detail.css.map */
